* {
    box-sizing: border-box;
    font-family: serif;
    color: #f9faf8;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 12px;
    list-style: none;
    color: #e5e7eb;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.heroSection {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    padding: 48px 0;
}

.leftSide {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.rightSide {
    flex: 1;
    width: 80%;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightSide > img {
    height: 300px;
    width: 100%;
}

button {
    background-color: #3882F6;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-weight: bolder;
}

.about {
    color: #1f2937;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    padding: 48px 0;
}

.aboutWrap {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    width: 120px;
    height: 120px;
    border: 3px solid #3882F6;
    border-radius: 8px;
}

.about > h2  {
    color: inherit;
}

.aboutContainer > p {
    color: rgb(43, 42, 42);
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    /* width: 60%; */
    margin: 0 auto;
    padding: 48px 20%;
    display: flex;
    flex-direction: column;
}

.pQuote {
    color: #1F2937;
    font-size: larger;
    font-style: italic;
}

.pName {
    color: #1F2937;
    align-self: flex-end;
    font-weight: 700;
    margin-top: -10px;
}
.callToAction {
    background-color: #3882F6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin: 48px auto;
    border-radius: 8px;
    gap: 32px;
}

.pCall {
    font-weight: 900;
    font-size: medium;
}

.pSignup {
    font-size: smaller;
}

.bSignup {
    border: 1px solid #E5E7EB;
    color: white;
    height: 40px;
    align-self: center;
}